/* You can add global styles to this file, and also import other style files */
.shadow {
  -webkit-box-shadow: -7px 9px 18px -10px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: -7px 9px 18px -10px rgba(0, 0, 0, 0.73);
  box-shadow: -7px 9px 18px -10px rgba(0, 0, 0, 0.73);
}
